@model IEnumerable<GenDB.Models.Obit>

@{
    ViewBag.Title = "Obituaries";
}

@Styles.Render("~/Content/dataTables")


<h2>Obituaries</h2>

<br />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


<table id="table_id" class="table table-striped table-bordered responsive" style="width:100%">
    <thead>
        <tr>
            <th class="all">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="all">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="all">
                @Html.DisplayNameFor(model => model.AltName)
            </th>
            <th class="all">
                @Html.DisplayNameFor(model => model.DateOfRecord)
            </th>
            <th class="all">
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th class="all">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th class="all">
                @Html.DisplayNameFor(model => model.CountyID)
            </th>
            <th class="none">
                @Html.DisplayNameFor(model => model.WebText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.AltName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRecord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Counties.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebText)
                </td>
                <td>
                    @using (Html.BeginForm("Details", "Obituary", FormMethod.Get))
                {
                        <button type="submit">Add to Cart</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">


        $(document).ready(function () {
            $('#table_id').dataTable({
                "language": {
                    "search": "Filter:"
                }
            });
        })

    </script>
}