@model IEnumerable<GenDB.Models.Obit>

@{
    ViewBag.Title = "Obituaries";
}

<h2>Obituaries</h2>

<br />


@*@using (Html.BeginForm("Index", "Obits", FormMethod.Get))
{
    //implementing search options
    <b> Search Option: </b>@Html.RadioButton("option", "Lname") <text>Last Name</text> @Html.RadioButton("option", "Fname") <text> First Name </text>
    @Html.RadioButton("option", "Altname")<text>Alt Name</text> @Html.TextBox("search") <input type="submit"
                                                                                              name="submit"
                                                                                              value="Search" />
}*@



         <table class="table">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Alternate Name
                </th>
                <th>
                    Date of Record
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Age
                </th>
                <th>
                    Web Text
                </th>
                <th></th>
            </tr>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>             
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AltName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfRecord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebText)
                    </td>
                    <td>
                   @using (Html.BeginForm("Details", "Obits", FormMethod.Get))
                   {
                       <button type="submit"> Add to Cart</button>
                   }
                </td>
                </tr>
            }
    </table>