@model IEnumerable<GenDB.Models.Naturalization>

@{
    ViewBag.Title = "Index";
}

<h2>Test</h2>

<table class="table">
    <tr>
        <th norwap>
            First Name
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th norwap>
            Last Name
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </th>
        <th>
            DOB
            @*@Html.DisplayNameFor(model => model.DOB)*@
        </th>
        <th>
            Age
            @*@Html.DisplayNameFor(model => model.Age)*@
        </th>
        <th norwap>
            Date of Record
            @*@Html.DisplayNameFor(model => model.DateOfRecord)*@
        </th>
        <th>
            Location
            @*@Html.DisplayNameFor(model => model.Location)*@
        </th>
        <th>
            Country of Origin
            @*@Html.DisplayNameFor(model => model.CountryOfOrigin)*@
        </th>
        <th norwap>
            Date of Entry
            @*@Html.DisplayNameFor(model => model.DateOfEntry)*@
        </th>
        <th norwap>
            Port of Entry
            @*@Html.DisplayNameFor(model => model.PortOfEntry)*@
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryOfOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Box)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCertNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortOfEntry)
            </td>
        </tr>
    }

</table>
