<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Obituaries";
}


@*@using (Html.BeginForm("Index", "Obits", FormMethod.Get))
{
    //the following are search options

    <b> Search Option: </b>@Html.RadioButton("option", "Fname") <text>First Name</text> @Html.RadioButton("option", "Lname") <text> Last Name </text>
    @Html.RadioButton("option", "Altname")<text>Alt Name</text> @Html.TextBox("search") <input type="submit"
                                                                                               name="submit"
                                                                                               value="Search" />}*@

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Obituaries</a></li>
        <li><a href="#tabs-2">Naturalizations</a></li>
        <li><a href="#tabs-3">Censuses</a></li>
    </ul>

    <div id="tabs-1">
      @Html.Action("Index", "Obituary")
    </div>

    <div id="tabs-2">
      @Html.Action("Index", "Naturalization")
    </div>

    <div id="tabs-3">
      @Html.Action("Index", "Census")
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>