@using GenDB.Models

@model GenDB.ViewModels.SearchParameters

    

<h2>UWSP Geneaology Search</h2>
<br />
<br />
    
    @using (Html.BeginForm("Search", "Home")) {
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        <br />
        <br />
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        <br />
        <br />
        @Html.LabelFor(m => m.AltName)
        @Html.TextBoxFor(m => m.AltName)
        <br />
        <br />
        @Html.LabelFor(m => m.DateOfRecord)
        @Html.TextBoxFor(m => m.DateOfRecord)
        <br />
        <br />
        @Html.LabelFor(m => m.County)
        @Html.TextBoxFor(m => m.County)
        <br />
        <br />
       <button type="submit">Search</button>
    }
    
    
    
    
    
    
    
    
    
    
    
    @**//implementing search options*
    <br />
    <br />
    <b> Search Option: </b>
    <br />
    <br />
    <text> Last Name: </text> @Html.TextBox("lname")
    <br />
    <text> Alt Name: </text> @Html.TextBox("altname")
    <br />
    <text> First Name: </text> @Html.TextBox("fname")
    <br />
    *//Hard coded drop down list for display only, need to pull counties directly from DB*
    <text> County: </text> @Html.DropDownList("county", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="Portage", Value = "Portage" },
                    new SelectListItem{ Text="Milwaukee", Value = "Milwaukee" },
                    new SelectListItem{ Text="Marathon", Value = "Marathon" },
                    new SelectListItem{ Text="Onieda", Value = "Onieda" }
                 })
    <br />
    <text> Year of Event: </text> @Html.TextBox("year")
    <br />
    <text> Date of Obituary Publication: </text> @Html.TextBox("dateofpub")
    <br />
    <button type="button" onclick="location.href='@Url.Action("About", "Home")'"> </button>*@



