@model GenDB.Models.SearchParameters

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>



<br />
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Obituaries</a></li>
    <li><a href="#tabs-2">Naturalizations</a></li>
    <li><a href="#tabs-3">Censuses</a></li>
  </ul>

  <div id="tabs-1">
    @Html.Action("Search", "Obituary", new RouteValueDictionary() { { "parameters", Model } })
  </div>

  <div id="tabs-2">      
    @Html.Action("Search", "Naturalization", new RouteValueDictionary() { { "parameters", Model } })
  </div>

  <div id="tabs-3">
      @Html.Action("Search", "Census", new RouteValueDictionary() { { "parameters", Model } })
  </div>
</div>


@section scripts {
    <script type="text/javascript">
  $(document).ready(function() {
    //var search = @Html.Raw(Model.ToJson());
    $("#tabs").tabs({
      load: function (event, ui) {
        console.log('load the crap...');
      }
      });
        $('#tabs').css('width', '1300px');
    $('#tabs .ui-tab').bind('click', function(event) {
      console.log('tab click'+JSON.stringify(event.currentTarget));
      console.log(search);
      console.log(event);

      /*
      $.ajax({
      url: '',
      sucess: function() {

      },
      error: function() {

      }
      */
    });
  });
    </script>
}

